@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@font-face {
	font-family: 'Kanit', sans-serif;
    font-weight: normal;
	src: url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
}

* {
	font-family: 'Kanit', sans-serif;
    font-weight: normal;
}

body {
    overflow: hidden;
}


.container {
    position: absolute;
    left: 49%;
    bottom: 15%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(10, 10, 10, 1);
    border-radius: 5px;
    border-left: 3px solid #3498db;
    font-size: 16px;
    color: #eee;
}


.INPUT_CONTEXT {
    border-radius: 3px;
    background-color: rgba(52, 152, 219, 1);
    padding: .10vw .45vw;
    color: white;
}

.container-show {
    animation: show .3s ease-in-out forwards;
}

.container-hide {
    animation: leave .5s ease-in-out forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(0.5vw);
    }
}

@keyframes leave {
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(0.5vw);
    }
}
